<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="E:\Project\envpt\branches\app.net\xhs.build.app\xhs.build.app\bin\Debug\netcoreapp3.1\xhs.build.app.exe" arguments="" stdoutLogEnabled="false" hostingModel="inprocess">
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>