<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="onemin" value="http://test.hb.xhs-sz.com:9037/api/job/OneMin"/>
    <add key="tenmin" value="http://test.hb.xhs-sz.com:9037/api/job/TenMin"/>
    <add key="onehour" value="http://test.hb.xhs-sz.com:9037/api/job/OneHour"/>
  </appSettings>
</configuration>