@font-face {
  font-family: "iconfont"; /* Project id 2895943 */
  src: url('//at.alicdn.com/t/font_2895943_jaotv1o70d.woff2?t=1635329654369') format('woff2'),
       url('//at.alicdn.com/t/font_2895943_jaotv1o70d.woff?t=1635329654369') format('woff'),
       url('//at.alicdn.com/t/font_2895943_jaotv1o70d.ttf?t=1635329654369') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yuandian:before {
  content: "\e604";
}

.icon-xiangxia1:before {
  content: "\e610";
}

.icon-xiangxia:before {
  content: "\e626";
}

.icon-xiangshang:before {
  content: "\e634";
}
